/* Reset básico para margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilizando o cabeçalho */
header {
    background: #ffcc00;
    padding: 20px;
    text-align: center;
}

/* Estilo para o título */
h1 {
    font-size: 2.5em;
}

/* Estilo para os subtítulos */
h2 {
    color: #ff9900;
    margin: 20px 0 10px;
}

/* Estilo para os parágrafos */
p {
    margin: 10px 0;
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Estilizando seções */
section {
    background: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilizando a tabela */
table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}